[submodule "Resume"]
	path = Resume
	url = https://github.com/ramakrishnareddy9/resume.git
[submodule "MSD-Assignment1"]
	path = MSD-Assignment1
	url = https://github.com/ramakrishnareddy9/MSD-Assignment1.git
