body {
    background-color: #000;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

#inputArea {
    width: 80%;
    margin: 50px auto 30px auto;
    display: block;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #1e1e1e;
    color: white;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3);
}

#container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 12px;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    background-color: #121212;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.1);
}

#container>div {
    background-color: #373131;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 15px 0;
    border-radius: 14px;
    transition: 0.2s;
    user-select: none;
    font-weight: bold;
}

#container>div:hover {
    background-color: #ff9500;
    box-shadow: 0 0 10px rgba(255, 149, 0, 0.6);
    cursor: pointer;
}